proxy_cache_path  /tmp/cache levels=1:2 keys_zone=S3_CACHE:10m max_size=500m inactive=24h;
proxy_temp_path /tmp/cache/temp;

server {
  listen 80;

  server_name _;

  charset utf-8;

  open_file_cache          max=1000 inactive=20s;
  open_file_cache_valid    30s;
  open_file_cache_min_uses 2;
  open_file_cache_errors   on;

  location ~* ^/(.*) {
    set $bucket           '{{getv "/s3proxy/bucket/name"}}';
    set $aws_access       '{{getv "/s3proxy/aws/access/key"}}';
    set $aws_secret       '{{getv "/s3proxy/aws/secret/key"}}';
    set $url_full         "$1";

    set_by_lua $now       "return ngx.cookie_time(ngx.time())";
    set $string_to_sign   "$request_method\n\n\n\nx-amz-date:${now}\n/$bucket/$url_full";
    set_hmac_sha1          $aws_signature $aws_secret $string_to_sign;
    set_encode_base64      $aws_signature $aws_signature;

    resolver               172.31.0.2 valid=300s;
    resolver_timeout       10s;

    proxy_pass             http://s3-website-eu-west-1.amazonaws.com;

    rewrite .* /$url_full break;

    proxy_http_version     1.1;
    proxy_set_header       Host $bucket.s3-website-eu-west-1.amazonaws.com;
    proxy_set_header       x-amz-date $now;
    proxy_set_header       Authorization "AWS $aws_access:$aws_signature";
    proxy_hide_header      x-amz-id-2;
    proxy_hide_header      x-amz-request-id;
    proxy_hide_header      x-amz-meta-s3cmd-attrs;
    proxy_hide_header      Set-Cookie;
    proxy_ignore_headers   "Set-Cookie";
    proxy_buffering        off;
    proxy_intercept_errors on;

    add_header X-Cache-Status $upstream_cache_status;
    proxy_cache S3_CACHE;
    proxy_cache_valid  200 302 304 60m;
    proxy_cache_valid  404          1m;
  }
}
